body{
    font-family: 'fantasy';
	background-color: #333;
}
h1{
    border: 0px solid;
    background-color: black;
    color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
    font-size: 40px;
	margin-bottom: 0%;
}
.navbar {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    }
    
    li {
    float: left;
    }
    
    li a, .dropla {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
    
    li a:hover, .dropdown:hover .dropla {
    background-color: red;
    }
    
    li.dropdown {
    display: inline-block;
    }
    .drop {
    display: none;
	position:relative;
    background-color: #f9f9f9;
    min-width: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }
    
    .drop a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    }
    
    .drop a:hover {
        background-color: #776d6d;
    }
    
    .dropdown:hover .drop {
		display: block;
		position: fixed;

    }
	form{
		float: right;
		width: 15%;
		margin-top: 7px;
	}
	h1{
		border: 0px solid;
		background-color: black;
		color: rgb(255, 255, 255);
		width: 100%;
		height: auto;
		font-family: 'Courier New', Courier, monospace;
		font-size: 40px;
		margin-bottom: 0%;
	}
	.navbar {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
	  }
	
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #333;
		}
		
		li {
		float: left;
		}
		
		li a, .dropla {
		display: inline-block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		}
		
		li a:hover, .dropdown:hover .dropla {
		background-color: red;
		}
		
		li.dropdown {
		display: inline-block;
		}
		
		.drop {
		display: none;
		position:relative;
		background-color: #f9f9f9;
		min-width: 40px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
		}
		
		.drop a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		text-align: left;
		}
		
		.drop a:hover {
			background-color: #776d6d;
		}
		
		.dropdown:hover .drop {
		position: fixed;
		display: block;
		}
		form{
			float: right;
			width: 15%;
			margin-top: 7px;
		}
		footer{
		padding:30px 0;
		background-color: #333;
		color: #fff;
		text-align: center;
		}
		footer{
		color: white;
		background-color:#333 ;
	
		}	
		.container{
		color: white;
		background-color:#333 ;
		border-top: 2px solid white;
		margin-top: 2%;

		}
		.carousel-control-prev{
			height: 20%;
			margin-top: 20%;
		}
		.carousel-control-next{
			height: 20%;
			margin-top: 20%;
		}



